<div class="flash">
  <%= flash[:notice] %>
</div>

<h1 class="edit-title">
  Editing Book
</h1>

<main>
<% if @book.errors.any? %>
  <div class="error">
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @book, url:book_path(@book.id), method: :patch do |f| %>
  <div class="edit-content-title">Title</div>
  <div class="edit-field">
    <%= f.text_field :title %>
  </div>

  <div class="edit-content-title">Body</div>
  <div class="edit-field">
    <%= f.text_area :body %>
  </div>

  <div class="edit-submit">
    <%= f.submit 'Update Book' %>
  </div>

  <div class="edit-link">
    <%= link_to 'Show', book_path(@book.id) %> | <%= link_to 'Back', '/books' %>
  </div>

<% end %>
</main>